.app_box{
  display: flex;
  flex-direction: column;
}

.nav_box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1.8px solid gainsboro;
}

.nav_box > p {
  font-family: 'Pacifico', cursive;
  font-size: 2rem;
  margin-left: 2.3rem;
}

.nav_box > input{
  margin-top: 1.3rem;
  height: 3.5rem;
  width: 28rem;
  padding: 0rem 1.5rem;
  background-color: white;
  border: 1.7px solid #ccc;
  border-radius: 5px;

}

.btn_box{
  display: flex;
  flex-direction: row;
  gap: 2.2rem;
  justify-content: center;
  align-self: center;
  margin-right: 3rem;

}

.btn_box > button {
  background-color: transparent;
  border: none;
  cursor: pointer;

}

.btn_box > div {
  font-weight: 450;
  border-radius: 120%;
  background-color: rgb(209, 124, 209);
  padding: 0.5rem 0.8rem;
  color: white;
}

.main_input_box{
  display: flex;
  justify-content: center;
  margin: 2em;
  margin-top: 2em;
}

.main_input_box_div {
  display: flex;
  flex-direction: row;
  border: 1.5px solid #ccc;
  border-radius: 6px;
  width: 38rem;
  height: 15rem;
  box-shadow: 0px 1px 3px 0px rgba(95, 84, 84, 0.2);
}

.main_input_box_div > textarea {
  border: none;
  width: 39rem;
  height: 14rem;
  font-family: 'Handlee', cursive;
  font-size: 1.35em;

}


.main_input_box_div > button {
  background-color: transparent;
  border: 1.5px solid gainsboro;
  border-radius: 4px;
  cursor: pointer;
  align-self: flex-end;
  padding: 0.5rem 1rem;
  margin: 1rem 0.8rem;

  /* text-decoration: underline; */

}

.notes_box {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 0.7rem;
  margin: 1.5em;
}

.notes_box > textarea {
  width: 19.5rem;
  height: 16rem;
  font-family: 'Handlee', cursive;
  font-size: 1.38em;
  border: 1px solid transparent;
  border-radius: 7px;
}

.notes_box_toggled {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-self: center;
  gap: 0.7rem;
  margin: 2em 10em;
}

.notes_box_toggled > textarea {
  width: 45rem;
  height: 16rem;
}

